@import
url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
  }

  .negro{color: #000;}

  body {
    margin: 0;
    padding: 50;
    font-weight:bolder;
  }
  
#imagen_fondo{
    height: 25vh;
    background-image: url('../img/stonks.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: initial;
}

.logo {
    max-height: 100px;
    align-content: center;
    border-radius: 10em;
    box-shadow: 7px 7px 12px 0px rgba(20, 20, 20, 0.3);
    border: 1px inset #000;
  }
  

#imagen_fondo h1 {
    color: #000;
    margin: 0;
    font-size: 50px;
  }

.titulo{
    text-align:center;
    font-size: clamp(12px, 4vw, 32px);
}

  .contenedor_grid1 {
    display: grid;
    grid-template-columns: repeat(4) ;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "footer footer footer footer";
    background-color: #cdccc9d8;
    height: 100vh;
}


.item_a{grid-area:header;}
.item_b{grid-area:main;}
.item_c{grid-area:sidebar;}
.item_d{grid-area:footer;}

.item_c nav {

    color: black;
    background-color: #7ba9d6;
    height: 450px;
    line-height: 80px;
  }

.item_c nav ul {
    margin: 0;
    padding: 30px;
    list-style-type: none;
    justify-content:end;
}

.item_c nav ul li {
    display: grid;
    border: black solid 2px;
    text-align: center;
    font-weight:bolder;
    padding: 1px;
    background-color:rgb(43, 43, 235);
    font-size: clamp(6px, 4vw, 15px);
}

.item_c nav ul li a:hover {
    background-color:  rgba(105, 180, 234, 0.3);
}

.item_c nav ul li a {
  color: #000;
  text-decoration: none;
}

footer{
  background-color: #dba33bf3;
  color: #000;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  font-size: clamp(6px, 4vw, 15px);
  font-weight:bolder;

}

footer ul li a {
  color: #000;
  text-decoration: none;
}
footer ul li a:hover {
background-color: grey;
}

