
#imagen_fondo{
    height: 65vh;
    background-image: url('../../img/601448646dfbe10018e00c5e.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.logo {
    max-height: 100px;
    align-content: center;
    border-radius: 10em;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    border: 1px solid #74a0cc;
  }
  

#imagen_fondo h1 {
    color:  rgba(216, 11, 11, 0.5);
    margin: 0;
    font-size: 50px;
  }



  .contenedor_grid1 {
    display: grid;
    grid-template-columns: repeat(5) 50px;
    grid-template-areas: 
        "header header header header"
        "sidebar . main main"
        "footer footer footer footer";
}


.item_a{grid-area:header;}
.item_b{grid-area:main;}
.item_c{grid-area:sidebar;}
.item_d{grid-area:footer;}

nav {
    background-color: #7ba9d6;

  }

nav ul {
    margin: 0;
    padding: 30px;
    list-style-type: none;
    justify-content:space-around;
  }
  nav ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    text-align: right;
    }