.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: auto;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000;
    
}
.titulo{
    text-align:center;
    font-size: clamp(12px, 4vw, 32px);
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 534px;
}
th, td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
}
th {
    background-color: #263bdf;
}

.boton{
font-weight: bolder;
}
